<div id="chat">

  <div class="col-md-3" id="chat_left">
        <div class="chat_search_box col-md-12 hide">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="chat-group col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li id="roomtype_default_tab" role="presentation">
              <a href="#firechat-tab-list" aria-controls="firechat-tab-list" role="tab" data-toggle="tab">Recent</a>
            </li>
            <% _.each(_.values(roomTypeConfig), function(roomType){ %>
              <li role="presentation" class="<%= roomType.active ? 'active' : '' %>">
                <a 
                  id="<%= roomType.tab_id %>"
                  href="<%= roomType.tabpanel_selector %>" 
                  aria-controls="<%= roomType.tabpanel_id %>" 
                  role="tab" data-toggle="tab">
                  <%= roomType.title %>
                  <% if ( roomType.show_count ) { %>
                    <span class="chat_count">0</span>
                  <% } %>
                </a>
              </li>
            <% }); %>
          </ul>
          
        </div>
        <div class="clearfix"></div>

        <div class="tab-content">
          <ul role="tabpanel" class="list-group contact-list tab-pane" id="firechat-tab-list"></ul>
          <% _.each(_.values(roomTypeConfig), function(roomType){ %>
            <ul 
              role="tabpanel" 
              class="list-group contact-list tab-pane <%= roomType.active ? 'active' : '' %>" 
              id="<%= roomType.tabpanel_id %>">
              <div class="" id="<%= roomType.appendee_id %>">
            </ul>
          <% }); %>
        </div>

  </div>
  <div class="col-md-6" id="chat_middle">
    <div class="panel-body">
      <div id='firechat-tab-content' class='tab-content'></div>
    </div>
  </div>
  <div class="col-md-3" id="chat_right">
    <div class="col-md-6 col-md-offset-3">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="roommeta-avatar img-responsive img-circle" />
    </div>
    <div class="clearfix"></div>
    <ul class="roommeta-table">
      <!-- <li>
        <span class="col-sm-3">Name</span>
        <strong></strong>
      </li>
      <li>
        <span class="col-sm-3">Email</span>
        <strong></strong>
      </li> -->
    </ul>
  </div>
</div>
