<li class="<% if (isSelfMessage) { %>right <% }else { %>left <% } %> clearfix">
  <span class="chat-img col-xs-12 col-sm-2">
      <img src="<%= avatar %>" alt="<%- name %>" class="img-responsive img-circle" />
  </span>
  <div class="chat-body clearfix col-sm-7">
      <p>
          <% if (image) { %>
            <img src="<%= image %>" style="width:50%" />
          <% } %>
          <% if (file) { %>
            Download Attachted File: <a href="<%= file %>" target="_blink" class="btn"><i class="fa fa-download" aria-hidden="true"></i>
</a>
          <% } %>
          <%= message %>
      </p>
      <small><%- localtime %></small>
  </div>
</li>