<li data-room-type='<%- type %>' data-room-id='<%- id %>' data-room-name='<%- name %>'>
  <a href='#!' data-toggle='firechat-tab' title='<%- name %>'>
    <div class="row_corner">テスト</div>
    <div class="col-xs-12 col-sm-4">
      <img src="<%= avatar %>" alt="<%- name %>" class="img-responsive img-circle" />
    </div>
    <div class="col-xs-12 col-sm-8">
      <span class="name"><%- name %></span>
      <span>
        <i class="famfamfam-flag-jp"></i>
        <span class="chat_notification">NEW</span>
      </span>
    </div>
    <div class="clearfix"></div>
  </a>
</li>