<div id='<%- id %>' data-room-id='<%- id %>' class='tab-pane'>
  <button class="btn btn-sm btn-warning pull-right" 
    id="btn-mark-read-<%- id %>">
    <span class="icon check"></span>
    テキスト
  </button>
  <div class="clearfix"></div>
  <ul 
    id='firechat-messages<%- id %>' 
    class='chat'></ul>

  <div class="panel-message">
    <div class="message_top">
      <label>
        <form
          class="dropzone fa fa-picture-o fa-lg"
          id="uploader">
        </form>
      </label>
      <span>テキスト</span>
    </div>
    <textarea class="form-control input-sm" id="textarea<%- id %>" cols="100" rows="5"></textarea>
  </div>
  <small>You can make a new line with [Shift + Enter]</small>


</div>