<div id='<%- id %>' data-room-id='<%- id %>' class='tab-pane'>
  <ul 
    id='firechat-messages<%- id %>' 
    class='chat'></ul>

  <p class="instruction" id="typingSignal"></p>
  <div class="panel-message" id="panel-message">
    <div class="message_top">
      <a class="fa fa-picture-o fa-lg" id="uploader"></a>
      <!-- <label>
        <form
          class="dropzone fa fa-picture-o fa-lg"
          id="uploader">
        </form>
      </label> -->
      <% if(send_options.click){ %>
      <button
        id="send_message">
        送信
      </button>
      <% } %>
      <button
        id="btn-mark-read-<%- id %>">
        既読にする
      </button>
      <div class="clearfix"></div>
    </div>
    <textarea class="form-control input-sm" id="textarea<%- id %>" cols="100" rows="5"></textarea>
  </div>
  <% if(send_options.enter){ %><p class="instruction text-right"><small>[Shift + Enter]で改行できます</small></p><% } %>


</div>