<li data-room-id='<%- id %>'
  <% if (roommeta) { %>
    <% Object.keys(roommeta).forEach(function(key){ %>
      <%= "data-roommeta-" + key + "='" + roommeta[key] + "'" %>
    <% }) %>
  <% } %>
  >
  <a class="row" href='#<%- id %>' data-toggle='firechat-tab' title='<%- name %>'>
    <div class="col-xs-12 col-sm-4">
      <img src="<%= avatar %>" alt="<%- name %>" class="img-responsive img-circle" />
    </div>
    <div class="col-xs-12 col-sm-8">
      <span class="name"><%- name %></span>
      <div>
        <span href='#!' data-event='firechat-close-tab' class='icon close' style='15px 5px' title='Leave Room'></span>
      </div>
    </div>
  </a>
</li>